<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
  <title>Ønskelisten</title>
  <style>
    body {
      font-family: 'Source Sans Pro', sans-serif;
      background-color: #f0f2f5;
    }
  </style>
</head>
<body>
<div class="navbar">
  <div class="logo">
    <a><h1>Ønskelisten</h1></a>
  </div>
</div>
<div class="main">
  <h2 th:text="${username + 's Ønskeliste:'}"></h2>
  <div>
    <div class="wishlist">
      <ul class="read-only">
        <li th:each="item: ${wishlist}">
          <span th:if="${#strings.contains(item, '/')}">
            <a th:href="${item}" th:text="${item}"></a>
          </span>
          <span th:if="${not #strings.contains(item, '/')}">
            <span th:text="${item}"></span>
          </span>
        </li>
      </ul>
    </div>
  </div>


</div>
</body>
</html>